#home{
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: auto;
  background-color: #93c47d;
  /* background-image: url("images/bg.jpg"); */
}

.inputBar, .btn{
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);
}

p{
  color: white;
  font-size: 5rem;
  text-align: center;
  padding: 5% 5% 1% 5%;
}



.inputForm{
  margin: 2% 20% 20% 20%;
}
